@model IEnumerable<WebApplication1.Models.Education>

@{
    ViewBag.Title = "Index";
}

<h2>Dina Utbildningar</h2>

<p>
    @Html.ActionLink("Lägg till utbildning", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>        
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id = item.Education_ID }) |
            @Html.ActionLink("Ta Bort", "Delete", new { id = item.Education_ID }) |
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Tillbaka till förra sidan", "/Details/2", "CVBody") |
    @Html.ActionLink("Nästa sidan, jobb som du har haft", "Index", "EmploymentHistories")
</p>