@model IEnumerable<WebApplication1.Models.CV>

@{
    ViewBag.Title = "Index";
}

<h2><strong>Sök bland Frilansare</strong></h2>

<p>
    @using (Html.BeginForm("Index", "CVs", FormMethod.Get))
    {
    <div>
        <b>Vilka kunskaper letar du efter?</b> @Html.TextBox("Searchstring") <input type="submit" value="Sök" />
    </div>
}



    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Freelancer.PersonalInformation.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freelancer.PersonalInformation.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoreAbilities)
            </th>

        </tr>

        @foreach (var item in Model)
        {
        <tr>

            <td>
                 @Html.DisplayFor(modelItem => item.Freelancer.PersonalInformation.FirstName, "Id") 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freelancer.PersonalInformation.LastName, "Id")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.Raw(ProfileLimit(item.Profile))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoreAbilities)
            </td>
            <td>
                @Html.ActionLink("Besök CV", "Details", new { id = item.CV_ID },  new { Target = "_blank" }) 
            </td>



            @helper ProfileLimit(string input)
            {
            int length = 150;
            if (input.Length <= length)
            {
                 @input
            }
            else
            {
                    @input.Substring(0, length)<text>...</text>
            }
            }



        </tr>
        }

    </table>
