<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FR Freelancing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Hem", "Index", "Home")</li>
                    <li>@Html.ActionLink("Om Oss", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakta Oss", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Din Profil", "/Details/1", "Profile")</li>
                    <li>@Html.ActionLink("Logga Ut", "Index", "Home")</li>
                </ul>
                <div class="dropdown">
                    <button class="dropbtn">Dina Sidor</button>
                    <div class="dropdown-content">
                        <a href="/Profile/Index">Din Hemsida</a>
                        <a href="/ProfileCV/Details/1">Din Profil</a>
                        <a href="/CVBody/Details/2">Mer Information om Dig</a>
                        <a href="/Educations">Utbildningar</a>
                        <a href="/EmploymentHistories">Karriär</a>
                        <a href="/Languages/Details/1">Språk</a>
                        <a href="/Knowledges/Details/2">Kompetens</a>
                        <a href="/FrontEndSkills/Edit/2">Front End</a>
                        <a href="/BackEndSkills/Edit/2">Back End</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FR Freelancing</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
