@model IEnumerable<WebApplication1.Models.EmploymentHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Career</h2>

<p>
    @Html.ActionLink("Lägg till", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaceOfWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceOfWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.EmploymentHistory_ID }) |
            @Html.ActionLink("Ta Bort", "Delete", new { id=item.EmploymentHistory_ID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Tillbaka Utbildningar", "Index", "Educations") |
    @Html.ActionLink("Nästa sidan, språk", "/Details/1",  "Languages")
</p>

<div class="dropdown">
    <button class="dropbtn">Dina Sidor</button>
    <div class="dropdown-content">
        <a href="/Profile/Index">Din Hemsida</a>
        <a href="/ProfileCV/Details/1">Din Profile</a>
        <a href="/CVBody/Details/2">Generall Information om Dig</a>
        <a href="/Educations">Utbildningar</a>
        <a href="/EmploymentHistories">Career</a>
        <a href="/Languages/Details/1">Språk</a>
        <a href="/Knowledges/Details/2">Kompetens</a>
        <a href="/FrontEndSkills/Edit/2">Front End</a>
        <a href="/BackEndSkills/Edit/2">Back End</a>
    </div>
</div>