@model WebApplication1.Models.Languages

@{
    ViewBag.Title = "Språk";
    Layout = "~/Views/Shared/_LayoutFreeLance.cshtml";

}

<h2>Språk</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Swedish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Swedish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.English)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.German)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.German)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spanish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spanish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>


    </dl>
</div>

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<ul class="nav-buttons">    
    <li> <a class="btn btn-default" @Html.ActionLink("🢀 Tillbaka till utbildningar", "Index", "EmploymentHistories")</a>
    <li> <a class="btn btn-default" @Html.ActionLink("Ändra", "Edit", new { id = Model.Languages_ID })</a>
    <li> <a class="btn btn-default" @Html.ActionLink("Nästa sidan, kompetens 🢂", "/Details/2", "Knowledges")</a>
</ul>
