@model WebApplication1.Models.Knowledge

@{
    ViewBag.Title = "Kunskap";
    Layout = "~/Views/Shared/_LayoutFreeLance.cshtml";
}

<h2>Kompetens, vad har du för kompetens? Klicka på en knapp att komma till en sida att lägga till relevanta kompetens</h2>

<div>
    <h4>Knowledge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FrontEnd)
        </dt>

        <dd>
            <p><a class="btn btn-default" @Html.ActionLink("Lägg till Frontend kunskaper", "/Edit/2", "FrontEndSkills")</a></p>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BackEnd)
        </dt>

        <dd>
            <p><a class="btn btn-default" @Html.ActionLink("Lägg till Backend kunskaper", "/Edit/2", "BackEndSkills")</a></p>

        </dd>



    </dl>
    <br />
    <br />

</div>

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<ul class="nav-buttons">    
    <li> <a class="btn btn-default" @Html.ActionLink("🢀 Tillbaka till språk", "/Details/1", "Languages")</a>
</ul>
